## SQL 1

#### Installation requirements

You can either run `pip3 install pandas` on your ssh session or try doing the installation from the notebook.

In [65]:
from sqlalchemy import create_engine, text
import pandas as pd

In [75]:


# Set up the database connection
engine = create_engine("mysql+mysqlconnector://root:abc@127.0.0.1:3306/cs639")
conn = engine.connect()

try:
    # If there is a pending transaction, rollback to reset the connection
    conn.rollback()
except Exception as e:
    print(f"Error during rollback: {e}")

# Ensure that the connection is valid
if not conn.closed:
    # Execute your queries
    conn.execute(text("""
        UPDATE Students SET gpa = '3.8' WHERE name = "Alice";
        UPDATE Students SET gpa = '3.6' WHERE name = "Timmy";
    """))
    conn.commit()
else:
    print("Connection is closed. Reconnecting...")
    conn = engine.connect()  # Reconnect to the database
    conn.execute(text("""
        UPDATE Students SET gpa = '3.8' WHERE name = "Alice";
        UPDATE Students SET gpa = '3.6' WHERE name = "Timmy";
    """))
    conn.commit()

# Optionally check the updated records
result = pd.read_sql("SELECT * FROM Students", conn)
print(result)

conn.close()  # Close the connection after use

 # This will roll back the pending transaction and reset the connection

MySQLInterfaceError: Commands out of sync; you can't run this command now

In [67]:
list(conn.execute(text("show tables;")))

[('Students',)]

### Table creation

#### `Students` table
Let's create `Students` table with columns:
- `sid(int)` - primary key
- `name(text)` - required
- `gpa(float)`

In [68]:
#conn.execute(text("""
  #  create table Students (sid int, name text NOT NULL, gpa float, primary key(sid))
#"""))

In [69]:
list(conn.execute(text("show tables;")))

[('Students',)]

### Inserting data

Let's add a student: example: 101, "Alice", 3.2

In [70]:
conn.execute(text("""
    INSERT INTO Students (sid, name, gpa) VALUES (101, "Alice", 3.2)
"""))

Add another student.

In [71]:
conn.execute(text("""
    INSERT INTO Students (sid, name, gpa) VALUES (402, "Timmy", 3.5)
"""))

### Projection aka `SELECT` clause in SQL

Retrieving all or specific columns from a table.

In [72]:
pd.read_sql("SELECT * FROM Students", conn)

   sid   name  gpa
0  101  Alice  3.2
1  402  Timmy  3.5

### Updating data

Let's change Alice's GPA to 3.7

In [74]:
conn.execute(text("""
    UPDATE Students SET gpa = '3.8' WHERE name = "Alice";
    UPDATE Students SET gpa = '3.6' WHERE name = "Timmy";
"""))

OperationalError: (mysql.connector.errors.OperationalError) MySQL Connection not available.
[SQL:
    UPDATE Students SET gpa = '3.8' WHERE name = "Alice";
    UPDATE Students SET gpa = '3.6' WHERE name = "Timmy";
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [54]:


pd.read_sql("SELECT * FROM Students", conn)

PendingRollbackError: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)

#### `Courses` table
Let's create accounts `Courses` with columns:
- `cid(int)` - primary key
- `cname(text)` - required
- `credits(int)` - required

In [ ]:
conn.execute(text("""
    create table Courses (cid int, cname text NOT NULL, credits int NOT NULL, primary key(cid))
"""))

In [ ]:
pd.read_sql("SELECT * FROM Students", conn)

### Table deletion

What if we wanted to delete a table?

In [ ]:
conn.execute(text(""))

Let's recreate `Courses` table. This time, let's make `cid` type `VARCHAR(255)` instead of int.

In [ ]:
conn.execute(text("""
    
"""))

Let's insert the two courses from the slide example.

In [ ]:
conn.execute(text("""
    
"""))
conn.execute(text("""
    INSERT INTO Courses (cid, cname, credits) 
    VALUES ("CS639", "Data Management", 3)
"""))

#### `Enrolled` table

Let's create `Enrolled` table with columns:
- sid(int) - foreign key
- cid(VARCHAR (255)) - foreign key
- grade(text)

In [ ]:
conn.execute(text("""
    
"""))

In [ ]:
list(conn.execute(text("show tables;")))

Let's add the erollments from the slide example.

In [ ]:
conn.execute(text("""
    
"""))

In [ ]:
conn.execute(text("""
    INSERT INTO Enrolled (sid, cid, grade) VALUES (101, "CS639", "A")
"""))

In [ ]:
pd.read_sql("SELECT * FROM Courses", conn)

What if we try to enroll a non-existing student?

In [ ]:
# 
conn.execute(text("""
    INSERT INTO Enrolled (sid, cid, grade) VALUES (10, "No one", "Nothing")
"""))

Commit the transaction.

In [ ]:
conn.commit()

What if we try to delete Student with id 101 from Students table?

In [ ]:
# 
conn.execute(text("""
    DELETE FROM Students WHERE sid = 101
"""))

### Load CSVs to MySQL Tables

### Spotify dataset: https://ms.sites.cs.wisc.edu/cs639/data/spotify.zip

In [ ]:
base_url = "https://ms.sites.cs.wisc.edu/cs639/data/"
df = p

In [ ]:
# select query