## MongoDB 1

In [ ]:
# import statements

### Connection establishment

### MongoDB sample datasets

- Source: https://www.mongodb.com/docs/atlas/sample-data/sample-training/

### Lazy database creation

- creation of a reference to the database
- actual creation doesn't happen until you perform a write operation like inserting a document
- the database does not physically exist on the server until then

In [ ]:
# directory where the JSON files are stored
json_dir = 'sample_training'
json_files = [f for f in os.listdir(json_dir) if f.endswith(".json")]
collections = [f.replace(".json", "") for f in json_files]
collections

In [ ]:
for idx, json_file in enumerate(json_files):
    
        print(f"Loaded {json_file} into the '{collections[idx]}' collection.")

### Verify collection names

In [ ]:
db.

### MongoDB API: Querying documents

#### Select all documents in a collection `find(query, options)`

- retrieves all documents from a collection
- equivalent to `SELECT * FROM <TABLE>` SQL query
- creates a cursor for a query that can be used to iterate over results from MongoDB
- documentation: https://mongodb.github.io/node-mongodb-native/3.6/api/Collection.html#find

Let's explore `trips` collection.

In [ ]:
cursor = db.trips.find({})

Let's explore `inspections` collection.

#### Q1: Find all trips taken by passengers born in 1988.

- equivalent to `SELECT * FROM <TABLE> WHERE <SOME COLUMN> = <SOME VALUE>` SQL query

#### Q2: Find all inspection sectors.

- equivalent to `SELECT <SPECIFIC COLUMN> FROM <TABLE>` SQL query

In [ ]:
cursor = db.inspections.find()
inspections = list(cursor)
inspections[:5]

What if you don't want your output to be cluttered with "_id" field values?

In [ ]:
cursor = db.inspections.find()
inspections = list(cursor)
inspections[:10]

#### Q3: Find all inspections that occurred in "Home Improvement Contractor - 100" and "Home Improvement Salesperson - 101" sectors.

- equivalent to `SELECT * FROM <TABLE NAME> WHERE <SOME COLUMN> in (<VALUE1>, <VALUE2>)`

In [ ]:
cursor = db.inspections.find()
home_inspections = list(cursor)
home_inspections[:3]

#### Q4: Find all trips that have duration between 200 and 4000 taken by gender 1.

- equivalent to:
```
    SELECT * FROM <TABLE NAME>
    WHERE <SOME COLUMN1> = <SOME VALUE> AND
        <SOME COLUMN 2> >= <SOME VALUE1> AND <SOME COLUMN2> <= <SOME VALUE 2>
```

In [ ]:
cursor = db.trips.find()
trips = list(cursor)
trips[:5]

#### Q5: Find all inspections that either occurred in Manhattan or Brooklyn.

- equivalent to:
```
    SELECT * FROM <TABLE NAME>
    WHERE <SOME COLUMN1> = <SOME VALUE> OR
        <SOME COLUMN 2> >= <SOME VALUE1> AND <SOME COLUMN2> <= <SOME VALUE 2>
```

In [ ]:
cursor = db.inspections.find()

ny_la_inspections = list(cursor)
ny_la_inspections

### `findOne(query, options, callback)`

- Fetches the first document that matches the query

#### Q6: Find the first trip.

In [ ]:
trip = db.
trip

#### Q7: Find the first five trips.

In [ ]:
five_trips = list()
five_trips